#mainBody{
    background-color: rgb(15, 8, 8);
    width:395px;
    height:500px;
    padding:auto;
    margin:auto;
    border:auto;
}
#screen{
    background-color: grey;
    margin: auto;
    padding: auto;
    border: auto;
    border-top: 30px;
    font-size: 4em;
    text-align: center;
    vertical-align: center;
    width: 362px;
    height: 85px;
}
.buttons{
    background-color: grey;
    width: 60px;
    height:60px;
    margin:20px;
    text-align: center;
    font-size: 2.5em;
    
}
.buttons:hover{
    background-color: rgb(171, 171, 171);
}
#row1{
    display: flex;
    justify-content: space-between;
    float:left;

}#row2{
    display: flex;
    justify-content: space-between;
    float:left;

}#row3{
    display: flex;
    justify-content: space-between;
    float:left;

}#row4{
    display: flex;
    justify-content: space-between;
    float:left;

}
#one:active{
    
}

